@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif;
}

.titulo{
    color: #000 !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.icon-header {
    color: #000 !important;
    font-size: 22px;
}

.cabecera {
    --background: none;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23f3f4f5' fill-opacity='1' d='M0,256L11.4,250.7C22.9,245,46,235,69,224C91.4,213,114,203,137,202.7C160,203,183,213,206,213.3C228.6,213,251,203,274,213.3C297.1,224,320,256,343,256C365.7,256,389,224,411,197.3C434.3,171,457,149,480,160C502.9,171,526,213,549,224C571.4,235,594,213,617,224C640,235,663,277,686,256C708.6,235,731,149,754,96C777.1,43,800,21,823,21.3C845.7,21,869,43,891,64C914.3,85,937,107,960,117.3C982.9,128,1006,128,1029,112C1051.4,96,1074,64,1097,90.7C1120,117,1143,203,1166,208C1188.6,213,1211,139,1234,128C1257.1,117,1280,171,1303,213.3C1325.7,256,1349,288,1371,266.7C1394.3,245,1417,171,1429,133.3L1440,96L1440,320L1428.6,320C1417.1,320,1394,320,1371,320C1348.6,320,1326,320,1303,320C1280,320,1257,320,1234,320C1211.4,320,1189,320,1166,320C1142.9,320,1120,320,1097,320C1074.3,320,1051,320,1029,320C1005.7,320,983,320,960,320C937.1,320,914,320,891,320C868.6,320,846,320,823,320C800,320,777,320,754,320C731.4,320,709,320,686,320C662.9,320,640,320,617,320C594.3,320,571,320,549,320C525.7,320,503,320,480,320C457.1,320,434,320,411,320C388.6,320,366,320,343,320C320,320,297,320,274,320C251.4,320,229,320,206,320C182.9,320,160,320,137,320C114.3,320,91,320,69,320C45.7,320,23,320,11,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
}
