<div class="container">

  <div class="row mt-3">
    <div class="col-lg-10 offset-lg-1">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="text-center">
            <strong class="text-dark titulo"> Listado de Estudiantes</strong>
            <ion-button class="float-end" color="ocean"  routerLink="create-student">NUEVO</ion-button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr class="table-dark">
              <th scope="col" class="text-center">#</th>
              <th scope="col" class="text-center">Nombres</th>
              <th scope="col" class="text-center">Apellidos</th>
              <th scope="col" class="text-center">Player Name</th>
              <th scope="col" class="text-center">Grupo</th>
              <th scope="col" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of estudiantes; index as i">
              <th scope="row" class="text-end">{{i+1}}</th>
              <td class="text-center">{{item.nombre}}</td>
              <td class="text-center">{{item.apellido}}</td>
              <td class="text-center">{{item.player_name}}</td>
              <td class="text-center">{{item.grupo.nombre_grupo}}</td>
              <td class="text-center">
                <div class="actions">
                  <ion-icon style="font-size: 20px;" name="create" color="ocean"></ion-icon>
                  <ion-icon style="font-size: 20px;" name="trash" color="rose" (click)="confirmBox()"></ion-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  