<ion-header>
  <ion-toolbar>
    <ion-title>{{player_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <form [formGroup]="formPreg">
          <div class="ion-text-center">
            <h3 class="titulo-pg">
              Pregunta {{indiceActual+1}}
            </h3>
          </div>

          <div class="imagen text-center ion-margin-vertical" *ngIf="imgField?.value != ''">
            <ion-img [src]="url+imgField?.value"> </ion-img>
          </div>

          <div class="pregunta ion-text-center ion-margin-bottom">
            <h4><strong>{{tituloField?.value}}</strong></h4>
          </div>

          <h5>Respuesta: </h5>
          <ion-list>
            <ion-radio-group formControlName="respuestaId" (ionChange)="setRespuetaId($event)">
              <ion-item *ngFor="let resp of listpreguntas[indiceActual].respuestas" lines="full">
                <div class="ion-text-justify">{{resp.descripcion}}</div>
                <ion-radio slot="start" [value]="resp.respuestaId" color="warning"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-row class="ion-margin-top ion-justify-content-center">
            <ion-button class="btn-op" expand="block" color="success" type="submit" 
              [disabled]="!formPreg.valid" (click)="nextPregunta(preguntaIdField?.value)">{{txtbtn}}</ion-button>
          </ion-row>
        </form>
      </div>
    </div>
  </div>
</ion-content>