<ion-split-pane  when="md" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header class="titulo">SECL</ion-list-header>
        <ion-note>Sistema de Evaluación de Conocimientos en Lengua y Literatura</ion-note>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item routerDirection="root" routerLink="/admin/message-settings" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon src="assets/icon/config-alert.svg" class="ion-margin-end"></ion-icon>
            <ion-label class="ion-margin-start">Configuraciones</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
