<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-start">Respuesta</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" class="ion-margin-end" size="large" color="danger"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2>Ver Vídeo</h2>
    <div class="container-video">
      <iframe class="responsive-iframe" src="https://www.youtube.com/embed/9d8wWcJLnFI?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row class="ion-justify-content-center">
    <ion-button class="btn-op" expand="block" color="success">
      Siguiente
    </ion-button>
  </ion-row>
</ion-footer>