<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="4" size-sm="12">
        <div class="contenedor">
          <div class="img-logo">
            <ion-img src="assets/img/logo_ue.jpg"></ion-img>
            <h3 class="text-center">Unidad Educativa Universitaria<br> Francisco Huerta Rendón</h3>
          </div>

          <div style="width: 100%;">
            <form>
              <ion-item lines="none" class="ion-margin-vertical">
                <ion-input type="text" placeholder="Código del Cuestionario" [(ngModel)]="codigo" name="codigo" (ngModelChange)="codigo = $event.toUpperCase()"></ion-input>
              </ion-item>
  
              <ion-button class="btn-ing" expand="block" color="ocean" (click)="ingresoJuego()" [disabled]="codigo.length == 0">
                <ion-label>INGRESAR</ion-label>
              </ion-button>
              <p><strong>¿Es Docente?</strong> Cree su cuestionario <span class="span"><a routerLink="/login">aquí</a></span></p>
            </form>
          </div> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>