<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="12" size-sm="12" sizeLg="12">
        <div class="contenedor">
          <div class="img-logo">
            <ion-img src="assets/img/logo_ue.jpg"></ion-img>
            <h3>Unidad Educativa Huerta Rendón</h3>
          </div>

          <div style="width: 100%;">
            <form>
              <ion-item lines="none" class="ion-margin-vertical">
                <ion-input type="text" placeholder="Código del Juego" [(ngModel)]="codigo" name="codigo"></ion-input>
              </ion-item>
  
              <ion-button class="btn-ing" expand="block" color="ocean" (click)="ingresoJuego()" [disabled]="codigo.length == 0">
                <ion-label>INGRESAR</ion-label>
              </ion-button>
              <p><strong>¿Es Docente?</strong> Cree su cuestionario <span class="span"><a routerLink="/login">aquí</a></span></p>
            </form>
          </div> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-center ion-padding">
      &copy; {{ factual | date: 'yyyy'}}, TORRES AVELINO GILSON DAVID
    </div>
  </ion-toolbar>
</ion-footer>