<ion-content class="ion-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="text-center">
                <h4>Datos del Estudiante</h4>
              </div>
            </div>

            <form [formGroup]="studentForm">
              <!-- <div class="form-group mb-3">
                <input type="text" formControlName="descripcion" class="form-control" placeholder="Nombre del grupo">
                <div class="text-danger" *ngIf="descripcionField?.hasError('required') && descripcionField?.touched">
                  <span>
                    * El campo nombre del grupo <strong>es requerido</strong>
                  </span>
                </div>
              </div> -->
              <div class="form-group">
                <label class="form-label mt-4">Nombres</label>
                <input type="text" class="form-control" placeholder="Ingrese los nombres" formControlName="nombre">
                <!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Apellidos</label>
                <input type="text" class="form-control" placeholder="Ingrese los apellidos" formControlName="apellido">
              </div>
              <div class="form-group">
                <label class="form-label mt-4">Seleccione el Grupo</label>
                <select class="form-select" formControlName="grupoId">
                  <option *ngFor="let opt of grupos" [value]="opt.grupoId">{{opt.nombre_grupo}}</option>
                </select>
              </div>

              <div class="form-group">
                <label class="form-label mt-4">Nombre de Jugador</label>
                <input type="text" class="form-control" placeholder="Ingrese el nombre del jugador" formControlName="player_name">
              </div>


              <div class="row mt-3">
                <div class="col-lg-6">
                  <ion-button (click)="cancelar()" expand="block" color="danger">
                    CANCELAR
                  </ion-button>
                </div>

                <div class="col-lg-6">
                  <ion-button type="submit" (click)="guardar()" expand="block" color="success"
                    [disabled]="!studentForm.valid">
                    GUARDAR
                  </ion-button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>